body{
    background-image: url('../img/bg.png');
    font-family: "Courier New", Courier, monospace;
}

header, footer{
    text-align: center;
    background-color: #ffdbea;
    color: #606060;
}


h3{
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#list{
  text-align: justify;
  padding: 10px;
  background-color: #BEEB9F;
  font-size: 12pt;
}

#references{
  text-align: justify;
  padding: 10px;
  background-color: #E2BBFF;
  font-size: 12pt;
}