<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Laboratorio 25: Servicios web REST con php</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

                    @font-face {
            font-family: 'icomoon';
            src:url('../fonts/icomoon/icomoon.eot');
            src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
                url('../fonts/icomoon/icomoon.woff') format('woff'),
                url('../fonts/icomoon/icomoon.ttf') format('truetype'),
                url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        /* General button style (reset) */
        .btn {
            border: none;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background: none;
            cursor: pointer;
            padding: 25px 80px;
            display: inline-block;
            margin: 15px 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            outline: none;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .btn:after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        /* Pseudo elements for icons */
        .btn:before,
        .icon-heart:after,
        .icon-star:after,
        .icon-plus:after,
        .icon-file:before {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: relative;
            -webkit-font-smoothing: antialiased;
        }

            /* Button 2 */
            .btn-2 {
                background: #cb4e4e;
                color: #fff;
                box-shadow: 0 6px #ab3c3c;
                -webkit-transition: none;
                -moz-transition: none;
                transition: none;
            }
            /* Button 2a */
            .btn-2a {
                border-radius: 0 0 5px 5px;
            }

            .btn-2a:hover {
                box-shadow: 0 4px #ab3c3c;
                top: 2px;
            }

            .btn-2a:active {
                box-shadow: 0 0 #ab3c3c;
                top: 6px;
            }
        </style>
    </head>
    <body>
        <h1>Servicios web REST con php</h1>
        <?php if (isset($name)) : ?>
            <h2>Hola <?= htmlspecialchars($name); ?>! Estas son las respuestas a las preguntas:</h2>
        <?php else: ?>
            <h2>Preguntas</h2>
            <p>Intenta ingresar tu nombre al URL (después de un '/') para una bienvenida personalozada.
        <?php endif; ?>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <strong>¿A qué se refiere la descentralización de servicios web?</strong>
                    <p>Cuando los servicios web no son ofrecidos solamente por un proveedor, si no por varios, que logran conectarse unos con otros, pero sin depender directamentede uno.</p>
                    <strong>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</strong>
                    <p>Teniendo backups de otros servicios web o desarrollar uno propio para el caso en el que falle. Además es bueno utilizar servicios web descentralizados para que sean independientes.</p>
                </div>
            </div>
        </div>
        <?php if (isset($lv)) : ?>
        <h2>Visit Las Vegas!</h2>
        <img src="https://www.reviewjournal.com/wp-content/uploads/2018/03/10323768_web1_10267371_web1_diveinmovie-060517-bh-015.jpg" alt="Las Vegas">
        <br>
        <?php endif; ?>
        <br>
    </body>

</html>
